

<br>
<br>
<!-- <p *ngIf="!APIResponse?.length"><em>Loading...</em></p> -->
<!-- <my-child></my-child> -->

<br>

<form (submit)="onSubmit()">
  <h5>Insert ingredients</h5>
  <input [(ngModel)]="SearchText" name="ingredients">
  <button type="submit">Search Recipe</button>
</form>
<br>
<h6>Output</h6>

<div id="output">
<div id="output" >
  <p id="response">{{ APIResponse }}</p>
</div>
</div>

<style>
  h6 {
    color:red;
  }
  #output {
    background-color: azure;
    height: 50px;
    width: 100%;
    border-color: blue;
    border-style: double;
  }
</style>

