

#output {
    background-color: azure;
    font-size: 12px;
    height: auto;
    width: 100%;
    border-color: blue;
    border-style: double;
}

#footer {
      height: 100px;
}

form {
    margin-top: 50px;
}