
#food-input{
      width: 70%;
      padding-left: 10px;
}

#unordered-list-for-selection {
      list-style: none;
      padding: 0px;
      margin: 0;
}


#container-list-display {
      margin-top: 0px;
      padding: 0px;
      background-color: aquamarine;
      width: 70%;
}


#food-list-item {
      cursor: pointer;
      padding: 7px 0 0 10px;
}

#food-list-item:hover {
      background-color: rgb(228, 228, 228);
      
}

#container-search-food {
      height: 500px;
      border: black solid;
      background-color: antiquewhite;
      width: 50%;
      float: left;
}


#container-selected-food {
      height: 500px;
      border: black solid;
      background-color: antiquewhite;
      float: left;
      position: relative;
      width: 50%;
}

#selected-food-item-list {
      border: black solid .5px;
      border-radius: 7px;
      height: 22px;
      width: fit-content;
      padding: 0 7px 0 7px;
}

#selected-item-paragraph {
      float: left;
      font-size: 14px;
      padding-right: 4px;
      margin: 0;
}

#cancel-food-button {
      height: 20px;
      float: right;
      font-size: 12px;
      border-left: black solid .5px;
      margin-left: 7px;
      padding: 2px 0px 0 5px;
      cursor: pointer;
}

#unordered-list-selected {
      list-style: none;
      margin: 5px;
}

#submit-food-button {
      float: right;
}

#clear-all-food-button {
      cursor: pointer;
      background: none;
      border: none;
      bottom: 0;
      font-size: 13px;
      position: absolute;
      right: 0;
      margin: 0 5px 5px 0;
}

#selected-food-header {
      width: 100%;
}

#selected-food-body {
      margin-top: 30px;
}

#selected-food-title {
      float: left;
      width: 80%;
}