#container-search-food {
      display: flex;
      justify-content: center;
}

#container-search-inner {
      width: 100%;
}

#food-input{
      position: relative;
      border-color: #6b2a60;
      background-color: rgba(255,255,255,0.8);
      border-radius: 10px 10px 10px 10px;
      height: 40px;
      width: 400px;
      padding-left: 10px;
      outline: none;
}
#food-input:focus {
      border: none;
      border: #6b2a60 solid 2px;
      background-color: #f8efef;
      border-radius: 10px 10px 0px 0px;
}
#food-input:active {
      border: none;
      border: #6b2a60 solid 2px;
      background-color: #f8efef;
      border-radius: 10px 10px 0px 0px;
}


#unordered-list-for-selection {
      list-style: none;
      padding: 0px;
      margin: 0;
}

#container-list-display {
      padding: 0px;
      width: 100%;
      position: relative;
      z-index: 3;
}
#container-list-display-outer {
      background-color: #fbf1f1;
      border: #6b2a60 solid 2px;
      border-top: none;
      border-radius: 0 0 10px 10px;
      z-index: 3;
      display: none;
}

#food-list-item {
      cursor: pointer;
      padding: 7px 0 0 10px;
      font-size: 16px;
}
#food-list-item:hover {
      background-color: rgb(228, 228, 228);
}
#food-list-item:active {
      background-color: rgb(202, 192, 204);
}


#container-search-food {
      height: 200px;
      width: 100%;
      padding-top: 25px;
}

#container-selected-food {
      min-height: 90px;
      border: black solid;
      border-radius: 15px;
      min-width: 50%;
      margin-top: 80px;
      margin-left: 25%;
      border: none;
      float: left;
}

#selected-food-item-list {
      color: white;
      background-color: #6b2a60;
      border: black solid .5px;
      border-radius: 7px;
      height: 27px;
      width: fit-content;
      padding: 0 7px 0px 7px;
      float: left;
      margin: 0 10px 7px 0;
}

#selected-item-paragraph {
      float: left;
      font-size: 17px;
      font-family: Verdana, Tahoma, sans-serif;
      height: 100%;
      margin: 0;
}

#cancel-food-button {
      height: 27px;
      float: right;
      font-size: 12px;
      font-family: Verdana, Tahoma, sans-serif;
      border-left: black solid .5px;
      margin-left: 7px;
      padding: 5px 0px 0 5px;
      cursor: pointer;
}

#unordered-list-selected {
      list-style: none;
      margin: 5px;
}

#submit-food-button {
      float: right;
}

#clear-all-food-button {
      cursor: pointer;
      background: none;
      border: none;
      float: left;
      font-size: 10px;
      margin-top: 90px;
      z-index: 1;
}


#selected-food-body {
      margin-top: 5px;
}

#selected-food-title {
      float: left;
      width: 80%;
      padding: 5px 0 0 15px;
}