<section>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Your requested recipe</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<div class="mb-3"><br>
			Pacific Cod & Orange Fennel Salad
			<br><br>
		Ingredients:
		<br><br>
		• 4 skinless Pacific cod fillets
		<br>
		• 2 tablespoons of olive oil<br>
		• 2 teaspoons of lemon juice<br>
		• 1 teaspoon of garlic powder<br>
		• 2 fennel bulbs, cored and thinly sliced<br>
		• ¼ teaspoon of salt<br>
		• ¼ teaspoon black pepper<br>
		• 2 oranges, segmented<br>
		• 2 tablespoons of fresh parsley, chopped<br><br>

		Directions:<br><br>

		1. Preheat the oven to 350 degrees F.<br><br>

		2. In a shallow dish, stir together the olive oil, lemon juice and garlic powder.
		<br><br>
		3. Place the cod fillets in the olive oil mixture and coat them well. Cover the dish with plastic wrap and let the cod marinate for 10 minutes.
		<br><br>
		4. Meanwhile, in a large bowl, combine the fennel, salt, and pepper.
		<br><br>
		5. Place the cod fillets in a shallow baking dish and bake for 15-20 minutes, until the cod is cooked through.
		<br><br>
		6. Add the orange segments and parsley to the bowl with the fennel and toss to combine.
		<br><br>
		7. When the cod is cooked through, divide among four plates and top with the orange fennel salad. Serve immediately.
		<br><br>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
	</div>
</ng-template>

<button id="fetch-button" class="btn btn-lg btn-outline-primary" (click)="openScrollableContent(content)">Fetch Recipe</button>
</section>